name: HACS & HassFest Validation

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

permissions: {}

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "plugin"

      - name: Run Home Assistant validation
        uses: home-assistant/actions@latest
        with:
          args: "--script hassfest"
